<!DOCTYPE html>
<html>
<head>

    <title>Hunter jewelry admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{{ asset('css/bootstrap.css') }}" rel="stylesheet" media="screen">
    {% block stylesheets %}
        {% stylesheets 'bundles/hunterbackend/sass/*' filter='scssphp,cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
    {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

</head>
<body class="backend">
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#backend-navbar-collapse" aria-expanded="false">
                <span class="sr-only">{{ 'backend.navbar.toggle_nav'|trans }}</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url('hunter_frontend_homepage') }}">Hunter Jewelry</a>
        </div>
        <div class="collapse navbar-collapse" id="backend-navbar-collapse">
            {{ knp_menu_render('navbar', { 'style': 'navbar-right' }) }}
        </div>
    </div>
</nav>
<div class="container-fluid">
    {% block page %}
    {% endblock %}
</div>

<!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all JavaScripts, compiled by Assetic -->
<script src="{{ asset('js/bootstrap.js') }}"></script>
</body>
</html>